apiVersion: v1
kind: Namespace
metadata:
  name: veripalvelu
  labels:
    name: veripalvelu

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: veripalvelu
  name: veripalvelu-dep
  labels:
    app: veripalvelu
spec:
  replicas: 1
  selector:
    matchLabels:
      app: veripalvelu
  template:
    metadata:
      labels:
        app: veripalvelu
    spec:
      containers:
        - name: veripalvelu
          image: tomjtoth/veripalvelu

          env:
            - name: APP_PORT
              value: "80"

          envFrom:
            - secretRef:
                name: veripalvelu-secrets

---
apiVersion: v1
kind: Service
metadata:
  namespace: veripalvelu
  name: veripalvelu-svc
spec:
  type: ClusterIP
  selector:
    app: veripalvelu
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: veripalvelu
  name: veripalvelu-ing
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: |
      default-redirect-to-https@kubernetescrd
spec:
  tls:
    - hosts:
        - veripalvelu.ttj.hu
      secretName: ttj-hu-tls

  rules:
    - host: veripalvelu.ttj.hu
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: veripalvelu-svc
                port:
                  number: 80
