apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yml
  - service.yml
  - ingress.yml
images:
  - name: IMAGES/PROD
    newName: "tomjtoth/saldo:1.0.1"
  - name: IMAGES/STAGING
    newName: tomjtoth/saldo:staging
